body {
    font-family: 'Nunito', sans-serif;
    background-color: #fffefe;
}

:root {
    --primary-color: #1297c0;
    --primary-color2: #dbe8ec;
    --primary-color3: #979695;
    --primary-color4: #25819d;
    --primary-color5: white;
    --primary-color6: #E7E5E4;
}

.title-site {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 42px;
    margin-top: 50px;
    text-align: center;
    font-style: italic;

}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.book {
    background: var(--primary-color5);
    border: 1px solid var(--primary-color6);
    box-shadow: 1px 1px 1px var(--primary-color6);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 700px) {
    .book {
        width: 100%;
    }
}


@media (max-width: 700px) {
    .container2 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
}


.image {
    margin: 0 auto;
    width: 80%;
    align-content: center;
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--primary-color6);
}

.title {
    font-weight: 500;
    margin-top: 10px;
}

.year {
    color: var(--primary-color3);
    margin-top: 7px;
}

.authors {
    margin-top: 7px;
    color: var(--primary-color4);
    font-weight: 500;
}

.button-save {
    margin: 0 auto;
    align-items: center;
    width: 15%;
}

@media (max-width: 600px) {
    .button-save {
        width: 80%;
    }
}

.button {
    width: 100%;
    background-color: var(--primary-color2);
    color: var(--primary-color);
    padding: 8px 8px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 8px;
}

.button:focus {
    background-color: var(--primary-color);
    color: var(--primary-color5);
    box-shadow: 1px 1px 2px var(--primary-color6);
}

.button:visited {
    background-color: var(--primary-color);
    color: var(--primary-color5);
    box-shadow: 1px 1px 2px var(--primary-color6);
}

.text {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}
.form {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 20px;
    border: none;
}

@media (max-width: 800px) {
    .form {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }


input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color6);
}

input:focus {
    border: 1px solid #3353d28e;
}



























